<!DOCTYPE html>

<div id="footer">
    <div class="pure-g-r wrapper">
    	<div class='pure-u-1-5 pure-hidden-phone icon-container'>
            <span class="center-align-helper"></span><img id='celli-logo' src='img/cellilogo_rev7 (white).png'/>
        </div>

        <div class='pure-u-3-5 icon-container'>
            <span class="center-align-helper"></span>
            <a class='social-media-link' href="https://www.facebook.com/WeAreCelli" target="_blank">
                <img class='social-media-thumb' src='images/facebook.svg'/>
            </a>
            <a class='social-media-link' href="mailto:wearecelli@gmail.com?Subject=Hello" target="_top">
                <img class='social-media-thumb' src='images/email.svg'>
            </a>
            <a class='social-media-link' href="https://twitter.com/WeAreCelli" target="_blank">
                <img class='social-media-thumb' src='images/twitter.svg'>
            </a>
        </div>

        <div class='pure-u-1-5 icon-container'>
            <span class="center-align-helper"></span>
            <a href='http://www.innod.net' target='_blank'>
        		<img class="innod-logo" src='images/designed-by-innod.svg'/>
    		</a>
        </div>
    </div>
</div>    



