<header class="mobile-nav-header fixed-top">
  <div>
    <div class="mobile-navbar">
      <div class="navbar-button-div" data-toggle="collapse" data-target=".navbar-collapse">
        <ul>
          <li class="navbar-menu-text noselect">menu</li>
          <li>
            <button class="navbar-toggle navbar-toggle-skin noselect" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar-custom first-bar noselect"></span>
              <span class="icon-bar-custom noselect"></span>
              <span class="icon-bar-custom noselect"></span>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-collapse-skin navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-nav-skin">
        <li>
          <a class="navbar-button" href="/about">
            <span class="visible-xs">About</span>
          </a>
        </li>
        <li>
          <a class="navbar-button" href="/events">
            <span class="visible-xs">Events</span>
          </a>
        </li>
        <li>
          <a class="navbar-button" href="/album">
            <span class="visible-xs">Album</span>
          </a>
        </li>
        <li>
          <a class="navbar-button" href="/music">
            <span class="visible-xs">Music</span>
          </a>
        </li>
        <li>
          <a class="navbar-button" href="/contact">
            <span class="visible-xs">Book Us</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="mobile-border-bottom"> </div>
</header>
