<ul id="main-nav">
  <li>
    <a href="/home">About</a>
  </li>
  <li>
    <a href="/events">Events</a>
  </li>
  <li>
  	<a href = "/album">Album</a>
  </li>
  <li>
    <a href="/music">Music</a>
  </li>
  <li>
    <a href="/contact">Book Us</a>
  </li>
</ul>
