<div id="splash-container">
    <div id="video-container">
        <div id="logo">
            <img src="img/cellilogo_rev7 (white).png" alt="celliLogo"></img>
        </div>
        <video autoplay loop muted id="splash-vid" class="video">
            <source src="vid/celliVid.mp4" type="video/mp4" />
            <source src="vid/celliVid.ogg" type="video/ogv" />
            <source src="vid/celliVid.webm" type="video/webm" />
        </video>
        <img id="splash-img" class="video hidden" src="img/splash-img.jpg"></img>
    </div>
    <ul id="main-nav">
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/events">Events</a>
        </li>
        <li>
            <a href="/album">Album</a>
        </li>
        <li>
            <a href="/music">Music</a>
        </li>
        <li>
            <a href="/contact">Book Us</a>
        </li>
    </ul>
</div>
