<!DOCTYPE html>
<!-- <link rel="stylesheet" type="text/css" href="css/about.css" /> -->
<head>
	<title>About · Celli @ Berkeley</title>
</head>
</body>
<div class="section-header">
	<h1>Our Story</h1>
</div>
<hr>
<div class="paragraphContain">
	<!-- <img id="image" src="images/story_background.jpg"/> -->
		<div class="text">
			<p>
				Celli@Berkeley was created one night in 2012 after the cellists of the UC Berkeley Symphony Orchestra realized that the only thing better than one cello was many, many cellos.
			</p>
			<p>
				Composed of thirteen undergraduate and graduate students studying a variety of academic disciplines (including political science, music, sociology, chemistry, biology, economics, and engineering), Celli is united by a desire to express the possibilities of the cello. We love performing and sharing music ranging from classical to pop, not only in concert halls but also outdoors - by the Campanile, in art galleries and cafes, at marathons or flea markets, and on the streets of Berkeley!
			</p>
		</div>
</div>
<br>
<div class="section-header">
	<h1>Our Goals</h1>
</div>
<hr>
<div class="paragraphContain">
	<!-- <img id="image" src="images/goals_background.jpg"/> -->
		<div class="text">
			<p>
				The ultimate goal of Celli@Berkeley is to generate new repertoire for cello ensembles around the world. As a student organization, however, our goal is to provide a safe space for individuals to discover their own style of playing. We aim to empower members to grow as musicians, leaders, and ensemble-players, as well as support their professional development. Members of Celli are encouraged to be both teachers and students among their peers.
			</p>
		</div>
</div>
<br>

<div class="section-header">
	<h1>Our Cellists</h1> <br>
</div>
<hr>
<br>
<div class="giantContain">
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Celeste.jpg"/>
			<p class="blurb">
				<em>Senior</em>, Political Science and Sociology (she/her) <br> &middot; &middot; &middot; <br>
				Celeste has played for the Women's Cal Club Soccer team!
			</p>
		</div>
		<div class="info">Celeste Alexander<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Ellis.jpg"/>
			<p class="blurb">
				<em>Junior</em>, Statistics <br> &middot; &middot; &middot; <br>
				You can't spell 'cellist' without 'Ellis'.
			</p>
		</div>
		<div class="info">Ellis Cho<br></div>
	</div>
		<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Vince.jpg"/>
			<p class="blurb">
				<em>Class of 2021</em>, EECS and Business <br> &middot; &middot; &middot; <br>
				Vince's favorite band is 2Cellos.
			</p>
		</div>
		<div class="info">Vince Han<br></div>
	</div>
		<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Alexander.jpg"/>
			<p class="blurb">
				<em>Senior</em>, MCB (he/him) <br> &middot; &middot; &middot; <br>
				Alex loves to cook and dance.
			</p>
		</div>
		<div class="info">Alex Kum<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Iris.jpg"/>
			<p class="blurb">
				<em>Junior</em>, Political Science and Music (she/her) <br> &middot; &middot; &middot; <br>
				Iris has four cats.
			</p>
		</div>
		<div class="info">Iris Kwok<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Albert.jpg"/>
			<p class="blurb">
				<em>Senior</em>, Mechanical Engineering (he/him) <br> &middot; &middot; &middot; <br>
				Albert learned to do laundry from his freshman year roommate!
			</p>
		</div>
		<div class="info">Albert Lee<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Krish.jpg"/>
			<p class="blurb">
				<em>Senior</em>, Bioengineering (he/him) <br> &middot; &middot; &middot; <br>
				Krish has watched ATLA 3 times all the way through in 5 months.
			</p>
		</div>
		<div class="info">Krish Nayar<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Tynan.jpg"/>
			<p class="blurb">
				<em>Junior</em>, Computer Science (he/him) <br> &middot; &middot; &middot; <br>
				Tynan has a greater-than-average number of toes, but you probably do too.
			</p>
		</div>
		<div class="info">Tynan Sigg<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Leo.jpg"/>
			<p class="blurb">
				<em>Graduate student</em>, Public Policy <br> &middot; &middot; &middot; <br>
				Leo owns more than twenty tie-dye shirts and wears one almost every day.
			</p>
		</div>
		<div class="info">Leo Steinmetz<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Lydia.jpg"/>
			<p class="blurb">
				<em>Senior</em>, Economics and Political Science (she/her) <br> &middot; &middot; &middot; <br>
				Lydia is also a ballet dancer.
			</p>
		</div>
		<div class="info">Lydia Wen<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Leonardo.jpg"/>
			<p class="blurb">
				<em>Senior</em>, EECS (he/him) <br> &middot; &middot; &middot; <br>
				Leonardo's fun fact is that he plays the cello.
			</p>
		</div>
		<div class="info">Leonardo Tang<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Gavin.jpg"/>
			<p class="blurb">
				<em>Senior</em>, Music <br> &middot; &middot; &middot; <br>
				Gavin has nothing to say.
			</p>
		</div>
		<div class="info">Gavin Williams<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Stephen.jpg"/>
			<p class="blurb">
				<em>Junior</em>, EECS (he/they) <br> &middot; &middot; &middot; <br>
				Stephen is a cat who writes fanfiction when he's not trying to eat bugs in his code.
			</p>
		</div>
		<div class="info">Stephen Yang<br></div>
	</div>
</div>


<div class="section-header">
	<h1>Past Cellists</h1> <br>
</div>

<hr>
<br>

<div class="giantContain">
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Aaron.jpg"/>
			<p class="blurb">
				<em>Senior</em>, Computer Science <br> &middot; &middot; &middot; <br>
				Aaron has a twin!
			</p>
		</div>
		<div class="info">Aaron Chen<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Rosa.jpg"/>
			<p class="blurb">
				<em>Class of 2019</em>, Computer Science <br> &middot; &middot; &middot; <br>
				Rosa laughs at her own jokes and hopes that one day others will too.
			</p>
		</div>
		<div class="info">Rosa Choe<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Annie.jpg"/>
			<p class="blurb">
				<em>Senior</em>, Conservation & Resource Studies <br> &middot; &middot; &middot; <br>
				Annie has pet snails and loves to bake pie.
				<!-- ? -->
			</p>
		</div>
		<div class="info">Annie Conway<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Cindy.jpg"/>
			<p class="blurb">
				<em>Class of 2014</em>, Peace & Conflict Studies and French <br> &middot; &middot; &middot; <br>Cindy dreams of the day when she too, can become a cat.
			</p>
		</div>
		<div class="info">Cindy Hickox<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Kelly.jpg"/>
			<p class="blurb">
				<em>Class of 2018</em>, Undeclared <br> &middot; &middot; &middot; <br>
				Kelly's eyeliner is always on point.
			</p>
		</div>
		<div class="info">Kelly Hong<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Karen.jpg"/>
			<p class="blurb">
				<em>Class of 2015</em>, Public Health <br> &middot; &middot; &middot; <br>
				Karen's greatest weakness is watermelon.
			</p>
		</div>
		<div class="info">Karen Hsu<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Robert.jpg"/>
			<p class="blurb">
				<em>Senior</em>, Music and Architecture <br> &middot; &middot; &middot; <br>
				Robert likes cold weather and, incidentally, warm layering.
			</p>
		</div>
		<div class="info">Robert Hurley<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Melody.jpg"/>
			<p class="blurb">
				<em>Class of 2016</em>, Music and MCB<br> &middot; &middot; &middot; <br>
				Melody is an avid fan of trail mix, blogilates, and all things punny.
			</p>
		</div>
		<div class="info">Melody Huang<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Chris.jpg"/>
			<p class="blurb">
				<em>Class of 2020</em>, Computer Science <br> &middot; &middot; &middot; <br>
				Chris has watched every single Gordon Ramsay cooking video on the internet.
			</p>
		</div>
		<div class="info">Chris Jereza<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Alex.jpg"/>
			<p class="blurb">
				<em>Class of 2017</em>, MCB <br> &middot; &middot; &middot; <br>
				Alex shares the same birthday with none other than the great Mstislav Rostropovich.
			</p>
		</div>
		<div class="info">Alex Joo<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Daniel.jpg"/>
			<p class="blurb">
				<em>Class of 2019</em>, Mass Communication/Media Studies <br> &middot; &middot; &middot; <br>
				In addition to his cello skills, Daniel is also a virtuosic whistler.
			</p>
		</div>
    	<div class="info">Daniel Kim<br> </div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Sam.jpg"/>
			<p class="blurb">
				<em>Graduate Student</em>, Chemistry<br> &middot; &middot; &middot; <br>
				Sam wired his own hot tub.
			</p>
		</div>
    	<div class="info">Sam Leachman<br> </div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Matt.jpg"/>
			<p class="blurb">
				<em>Class of 2016</em>, Public Health<br> &middot; &middot; &middot; <br>
				Matt plays the oboe and is single and ready to mingle.
			</p>
		</div>
		<div class="info">Matt Lee<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Rachel.jpg"/>
			<p class="blurb">
				<em>Class of 2016</em>, Statistics<br> &middot; &middot; &middot; <br>
				Rachel likes spicy.
			</p>
		</div>
		<div class="info">Rachel Lee<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/James.jpg"/>
			<p class="blurb">
				<em>Class of 2018</em>, Music and MCB <br> &middot; &middot; &middot; <br>
				James drinks jasmine green tea everyday.
			</p>
		</div>
		<div class="info">James Lim<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Lanvi.jpg"/>
			<p class="blurb">
				<em>Class of 2020</em>, Music and MCB <br> &middot; &middot; &middot; <br>
				Lanvi's name means baby orchid.
			</p>
		</div>
		<div class="info">Lanvi Lu<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Yuki.jpg"/>
			<p class="blurb">
				<em>Class of 2018</em>, CS and Math <br> &middot; &middot; &middot; <br>
				Yuki's grandfather owns Daiso.
			</p>
		</div>
		<div class="info">Yuki Mizuno<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Elizabeth.jpg"/>
			<p class="blurb">
				<em>Class of 2018</em>, Psychology<br> &middot; &middot; &middot; <br>
				Elizabeth is from Washington.
			</p>
		</div>
    	<div class="info">Elizabeth Mo<br> </div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Chellie.jpg"/>
			<p class="blurb">
				<em>Class of 2019</em>, Environmental Science <br> &middot; &middot; &middot; <br>
				Chellie never leaves the house without a cup of tea and an existential crisis.
			</p>
		</div>
		<div class="info">Chellie Nayar<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Graham.jpg"/>
			<p class="blurb">
				<em>Class of 2016</em>, History <br> &middot; &middot; &middot; <br>
				Graham was named after a cracker. His greatest strength is his hair.
			</p>
		</div>
		<div class="info">Graham Nelson<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Christina.jpg"/>
			<p class="blurb">
				<em>Class of 2017</em>, MCB <br> &middot; &middot; &middot; <br>
				Christina enjoys unicorn searching in her spare time...but has yet to find one.
			</p>
		</div>
		<div class="info">Christina Park<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Rohan.jpg"/>
			<p class="blurb">
				<em>Class of 2018</em>, Music and CS <br> &middot; &middot; &middot; <br>
				Rohan enjoys relaxing with knitting and tea.
			</p>
		</div>
		<div class="info">Rohan Sikdar<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Rio.jpg"/>
			<p class="blurb">
				<em>Class of 2013</em>, Music<br> &middot; &middot; &middot; <br>
				Rio is in New York, where he works at Carnegie Hall.
			</p>
		</div>
		<div class="info">Rio Vander Stahl<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Kane.jpg"/>
			<p class="blurb">
				<em>Class of 2016</em>, Music<br> &middot; &middot; &middot; <br>
				Kane once had a pet hedgehog.
			</p>
		</div>
		<div class="info">Kane Suga<br> </div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Mosa.jpg"/>
			<p class="blurb">
				<em>Class of 2014</em>, Music and Society & Environment<br> &middot; &middot; &middot; <br>
				Mosa is terrified of ovens.
			</p>
		</div>
		<div class="info">Mosa Tsay<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Lukas.jpg"/>
			<p class="blurb">
				<em>Class of 2015</em>, Chemistry<br> &middot; &middot; &middot; <br>
				Lukas contains a tasty nougat-filled core.
			</p>
		</div>
		<div class="info">Lukas Whaley-Mayda<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Isaac.jpg"/>
			<p class="blurb">
				<em>Class of 2020</em>, Music and MCB <br> &middot; &middot; &middot; <br>
				Isaac enjoys good gifs and peach Calpico.
			</p>
		</div>
		<div class="info">Isaac Witte<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Jeanie.jpg"/>
			<p class="blurb">
				<em>Class of 2020</em>, Applied Math <br> &middot; &middot; &middot; <br>
				Jeanie goes to Target when she's bored.
			</p>
		</div>
		<div class="info">Jeanie Won<br></div>
	</div>
	<div class="personContain">
		<div class="imageContain">
			<img class="profilePic" src="images/Felix.jpg"/>
			<p class="blurb">
				<em>Class of 2018</em>, Architecture<br> &middot; &middot; &middot; <br>
				Felix is secretly British and loves Sherlock.
			</p>
		</div>
		<div class="info">Felix Yiu<br></div>
	</div>
</div>


<div style="clear:both;"></div>
<script>
	$('.text').flowtype({
	 maximum   : 720,
	 fontRatio : 20
	});
	$('.text').flowtype();
	$('.text2').flowtype({
	 maximum   : 720,
	 fontRatio : 20
	});
	$('.text2').flowtype();

</script>
</div>
