<!DOCTYPE html>
<!-- <link rel="stylesheet" type="text/css" href="css/about.css" /> -->
<head>
	<title>Album · Celli @ Berkeley</title>
</head>
<body>
<div class="section-header">
	<h1>Our Debut Album</h1>
	<p>Listen and download below!</p>
</div>
<hr>
<div class="paragraphContain">
	<div align="middle">
		<iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2846670331/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/transparent=true/" seamless="">&lt;a href="http://celli.bandcamp.com/album/celli-berkeley-2"&gt;Celli@Berkeley by Celli@Berkeley&lt;/a&gt;</iframe>
	</div>
</div>

<br>

<div class="section-header">
	<h1>Featured Pieces</h1>
</div>
<hr>
	<div class="paragraphContain">
		<ul style="list-style:none">
			<li><strong>Deep Song</strong> <a href="https://www.jaredredmond.com/" target="_blank" style="text-decoration:underline">(Jared Redmond)</a> 2014
				<ol>
					<li><i>Paisaje sin canción [Landscape Without Song]</i></li>
					<li><i>Venus</i></li>
					<li><i>Paisaje sin canción</i></li>
					<li><i>Noche del amor insomne [Night of Sleepless Love]</i></li>
					<li><i>Lucía Martínez</i></li>
				</ol>
				</li><li>Felicia Chen, soprano</li>
				<li>David Milnes, conductor</li>
				<li>[Text by Federico García Lorca]</li>
				<li style="text-decoration:underline"><a href="http://www.jaredredmond.com/deep-song/" target="_blank">
					<small>Program notes</small>
					</a>
				</li>

			<br>
			<li><strong>Hymnus for 12 cellos, Op. 57</strong> (Julius Klengel) 1922</li>
			<br>
			<li><strong>Sharp Skills</strong> (Daniel Leo) 2010</li>
			<br>
			<li><strong>These Feathered Walls</strong> <a href="http://www.anicagalindo.com/music.html" target="_blank" style="text-decoration:underline">(Anica Galindo)</a> 2011
				</li><li>Graham Nelson, soloist</li>
				<li>Composed for solo cello and chamber orchestra; arr. for solo cello and cello choir</li>
				<li style="text-decoration:underline"><a href="http://www.anicagalindo.com/music/thesefeatheredwalls.html" target="_blank">
					<small>Program notes</small>
					</a>
				</li>

			<br>
			<li><strong>Stagioni inter Alia</strong> (Michael Nicholas) 2012</li>
			<br>
			<li><strong>spacial for 12 celli, <i>a sound installation for live performers</i></strong> <a href="http://joshuacarro.wix.com/joshuacarro" target="_blank" style="text-decoration:underline">(joshua carro)</a> 2013*
				</li><li><small>*Winner of the 2013 Celli@Berkeley Composition Competition</small></li>

		</ul>
	</div>
<br>

<div class="section-header">
	<h1>Our Contributors</h1>
	<p>Thanks to our Kickstarter backers for their support!</p>
</div>
<hr>

	<!-- <img id="image" src="images/goals_background.jpg"/> -->
<div class="paragraphContain">
	<ul class="donors" style="list-style: none" align="middle">
		<li><strong>Project Patrons:</strong><br>Shiurun Y. Chang, Daniel Fawcett, Timothy Lee</li>
		<br>
		<li><strong>Project Sponsors:</strong><br>Linda Barnett, Anica Galindo, Linda M. Hayward, Cindy Hickox, Willis Hickox, Hugo Hsu, Sarah Kim, Kerry Lewis, Richard Massey, David Milnes, Glenna Mote, Gary P. Nelson, Sarah Oak, Sandra Shepard, Valerie VanderLaan</li>
		<br>
		<li><strong>Project Supporters:</strong><br>Victor Chen, Allen Haberberg, Tamás Varga, Michelle Tan</li>
		<br>
		<li><strong>Project Backers:</strong><br>Dorothy Rozzi Belknap, Derek Siusi Fung Correa, Eva Lau, Monica Melville, Jennifer Sasaki, Serena Tan</li>
		<br>
		<li><strong>Friends of Celli:</strong><br>Jeremy David Garcia Rodriguez Amon, Grant Chen, Kevin Liu, Chrys Goodell, Benjamin Tseng, Emma Lundberg, Danny Pilgreen, Andrea Liao, Sammaurer, Ellen St. Thomas, Roger Lebow, Jimmy Wu, Kim Tsai, Julia Stahl, Primo Martinez, Cheng Xu, Yiting Zhang, William Bretzlaff, Stephanie Lei, Faith Cheng, Cindy Wang</li>
	</ul>
</div>

<br>
<div class="section-header">
	<h1>
		<a href="https://www.kickstarter.com/projects/87565582/celliberkeleys-debut-album-ft-jared-redmond" target="_blank">Debut Album Kickstarter</a>
	</h1>
	<p>12 cellists, one debut album - featuring a new piece for soprano and a dozen celli.</p>
</div>

<hr>

<div class="paragraphContain">
	<!-- <img id="image" src="images/story_background.jpg"/> -->
		<div class="kickstarterVideo">
			<p>
				<iframe width="560" height="315" src="//www.youtube.com/embed/L917mu7ShYc" frameborder="0" allowfullscreen=""></iframe>
			</p>
		</div>
</div>

</body>
