<!DOCTYPE html>
<!-- <link rel="stylesheet" type="text/css" href="css/about.css" /> -->
<head>
  <title>Book Us · Celli @ Berkeley</title>
</head>
<body>
<div class="section-header">
	<h1>Book Us</h1>
</div>

<hr>

<div class="paragraphContain">
	<!-- <img id="image" src="images/story_background.jpg"/> -->
		<div class="text">
			<p>
        Celli@Berkeley is available for weddings and cocktail hours, house concerts, private events, and performances in all kinds of spaces.
      </p>
      <p>
        <small>
          *We request that our instruments are sheltered from direct sunlight and rain in outdoor venues. There may be a transportation fee for venues that require us to drive from Berkeley.
        </small>
      </p>
      <p>
        For booking inquiries and to receive a quote and booking contract, please email
        <br>
        <strong>
          WeAreCelli [at] gmail.com
        </strong>
        with the following information:
      </p>

      <ul style="list-style:none" align="middle">
    		<li>Type of Event:</li>
    		<br>
    		<li>Date of Event:</li>
    		<br>
    		<li>Time:</li>
    		<br>
    		<li>Venue/location:</li>
    		<br>
    		<li>Total length of hired time:</li>
    		<br>
    		<li>Requested Repertoire:</li>
    	</ul>
		</div>
</div>
</body>
