<!DOCTYPE html>
<html>
    <link href='https://fonts.googleapis.com/css?family=Kreon:300,400,700|Open+Sans:300italic,400italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <head>
        <% include partials/head %>
    </head>
    <body>

        <!-- HTML5 Splash -->
        <% include partials/splash %>

        <!-- Mobile Nav -->
        <% include partials/mobile-nav %>

        <div id="ajax-body-wrapper">
            <div class="container">
                <%-body%>
            </div>
        </div>

        <!-- Footer Scripts -->
        <% include partials/footer-scripts %>

        <!-- Footer -->
        <% include partials/footer %>
    </body>
</html>
