<!DOCTYPE html>
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<!-- <link rel="stylesheet" type="text/css" href="css/music-style.css" /> -->
<head>
  <title>Music · Celli @ Berkeley</title>
</head>
<body>
  <div id='kickstarter-message'>
  <div class="section-header">
    <h1>Show us your support!</h1>
  </div>
    <hr>
  	<p>
  		Listen to us on <a href='https://www.youtube.com/user/WeAreCelli' target='_blank'> Youtube</a> and <a href='https://soundcloud.com/celli-berkeley'>SoundCloud</a>! More to come!
      <div id='youtube-playlist'>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/Nh4cGMpz3ig?modestbranding=1&rel=0&autohide=1&showinfo=0&controls=0&loop=1" frameborder="0" allowfullscreen></iframe>

      <!-- Instructions on how to change youtube video/playlist:
      Video:
      1. Click the Share link under the video.
      2. Click the Embed link.
      3. Copy the code provided in the expanded box.
      4. Replace the "Nh4cGMpZ3ig" with the copied code

      Playlist:
      1. Click Playlists on the left side of your YouTube page
      2. Click the playlist title you'd like to embed.
      3. Click the Share link.
      4. Click the Embed link.
      5. Copy the embed code that appears in the menu below.
      6. Replace the "Nh4cGMpZ3ig" with the copied code -->
    </div>
  	</p>
  </div>
  <div id='kickstarter-music'>


    <!-- change the url link (the "src=....") to http://api.soundcloud.com/playlists/77022205 once the playlist is up -->
    <iframe class="iframe" width="100%" height="465" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http://api.soundcloud.com/tracks/131274735&amp;auto_play=false&amp;auto_advance=true&amp;buying=true&amp;liking=true&amp;download=true&amp;sharing=true&amp;show_artwork=true&amp;show_comments=true&amp;show_playcount=true&amp;show_user=true&amp;hide_related=false&amp;visual=true&amp;start_track=0&amp;callback=true">
    </iframe>
  </div>

</body>
